body {
	background-color: #e3ebf1;
	margin: 0px;
}

nav {
	background-color: #396c8a;
	color: #dfdfdf;
	font-size: x-large;
	padding: 15px;
	margin: 0px;
	height: 75px;
}

div {
	display: inline-block;
	margin: 20px;
}

table {
	border-collapse: collapse;
}

th {
	border: 2px solid gray;
	width: 200px;
	padding: 10px;
	
	background-color: gray;
	color: white;
}

td {
	border: 2px solid gray;
	width: 200px;
	padding: 10px;
}

footer {
	background-color: #396c8a;
	color: #dfdfdf;
	margin-top: 50px;
}

#search {
	display: inline;
	float: right;
}

#logo {
	width: 100px;
	height: 100px;
}

#footerInfo {
	font-size: small;
}

#gameLogo {
	width: 300px;
	height: 150px;
}