body {
	background-color: white;
}

nav {
	background-color: gray;
	color: white;
	font-size: x-large;
	padding: 15px;
	margin: 0px;
	height: 75px;
}

div {
	display: inline-block;
	height: 250px;
	margin: 25px;
}
